.content-section {
  box-sizing: border-box;
  width: 1100px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 45px 96px 45px;
  font-size: 18px;
}

.header__logo {
  width: 140px;
  height: 110px;
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 13px;
}

.header__menu-item {
  margin-right: 13px;
  margin-left: 6px;
  list-style: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__menu-item:first-child {
  list-style: none;
}

.address {
  font-style: normal;
}
.address__link {
  text-underline-offset: 3px;
}
.header__address {
  justify-self: end;
}
.address-content {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  padding-top: 2px;
  line-height: 135%;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: block;
  padding: 166px 49px 105px 49px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  padding: 20px 0 0 30px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  text-align: right;
  transform: translateX(30px);
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 49px 49px 51px;
  color: #fff;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  padding: 179px 24px 120px 24px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__heading {
  padding: 0 0 27px 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style-type: none;
}

.card-link,
.card {
  height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 2;
  padding: 48px 40px 0 40px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  padding: 0 40px 48px 40px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.about {
  padding: 5px 0 0 70px;
}

.lots__look-more-link {
  display: block;
  padding: 30px 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
}

.about__columm {
  display: grid;
  grid-template-columns: 314px auto;
  grid-template-areas:
    "logo title"
    "logo text";
}

.about__logo {
  display: flex;
  grid-area: logo;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-area: text;
  gap: 24px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.about__title {
  grid-area: title;
  padding: 100px 400px 100px 0;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__logo-image {
  width: 142px;
  height: 113px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 180px 50px 82px 50px;
  font-size: 18px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__address {
  justify-self: start;
}

.footer__address-content {
  max-width: 260px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__social-list-item {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__menu-item_active .footer__menu-link {
  text-decoration: none;
}
